/*:root {*/
/*  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
/*  line-height: 1.5;*/
/*  font-weight: 400;*/

/*  color-scheme: light dark;*/
/*  color: rgba(255, 255, 255, 0.87);*/
/*  background-color: #242424;*/

/*  font-synthesis: none;*/
/*  text-rendering: optimizeLegibility;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*  -webkit-text-size-adjust: 100%;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

html,body {
    /*display: flex;*/
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


#app {
    display: flex;
    /*text-align: center;*/
    width: 100%;
    height: 100%;
}



.useDescContainer .ant-modal {
    max-width: 100%;
    top: 0;
    padding-bottom: 0;
    margin: 0;
}

.useDescContainer .ant-modal-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh);
}

.useDescContainer .ant-modal-body {
    flex: 1;
}
.useDescContainer .ant-modal-confirm-content {
    line-height: 10px;
}